navbar {
    background-color: dodgerblue;
}

body {
    background-color:lightsteelblue;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

h1 {
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}
table th {
    color: white;
    background-color: black;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
