navbar {
    background-color: dodgerblue;
}

body {
    background-color:lightsteelblue;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

table, th, td {
    border: 2px solid black;
}