navbar {
    background-color: dodgerblue;
}

body {
    background-color:lightsteelblue;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

h1 {
    text-align: center;
}

table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
    background-color: #fff;
}
table#t01 th {
    color: white;
    background-color: black;
}

table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
    background-color: #fff;
}
table#t01 th {
    color: white;
    background-color: black;
}

table, th, td {
    border: 2px solid black;
}
